.ensembleTourniquer
{
    box-sizing: border-box;
    display: block;
}
.tourniquer
{
  display: flex;
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 1192px;
  height: 465px;
}
.diapo
{
  display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 814px;
    height: 426px;
}
.diapo1
{
   box-sizing: border-box;
    width: 845px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 185px;
    transition: all 0.3s;
    transform: translate3d(-237px, 0, 0) scale(0.87);
    opacity: 1;
    z-index: 1;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    filter: brightness(.9);
}
.diapo3
{
  
   box-sizing: border-box;
     width: 845px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 185px;
    transition: all 0.3s;
        transform: translate3d(237px, 0, 0) scale(0.87);
    opacity: 1;
    z-index: 1;
        transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    filter: brightness(.9);
}
.diapo2
{
   box-sizing: border-box;
    width: 845px;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 185px;
    transition: all 0.3s;
      transform: translate3d(0, 0, 0) scale(1);
    z-index: 2;
        transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.diapo-vide
{
    opacity: 0;
}
html 
{
    scroll-behavior: smooth
}

.commentaire
{
  display:block;
  height: auto;
  width: 1300px;
  border: solid;
  border-width: 1px;
  border-color: #000;
  margin : 5px;
  padding: 2px;

}

.commentaire2
{
  display:block;
  height: auto;
  width: 1300px;
  border: solid;
  border-width: 1px;
  border-color: #000;
  margin : 5px;
  padding: 2px;
  margin-left: 100px;

}

.photoDeProfil{
	width:43px;
  height:43px;
  border-radius: 100px;
  background:#000;
display: inline-block;
margin-top: 1px;
margin-left: 4px;



}

.texte1
{
  font-family:Segeo Ui, sans-serif;
   font-size:100%;
   color: #707070; 
   margin-top : -43px; 
   margin-left: 60px;
}
.texte2
{
  margin-top : -10px; 
  margin-left: 100px;
}