.ensembleTourniquer
{
    box-sizing: border-box;
    display: block;
}
.tourniquer
{
  display: flex;
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 1192px;
  height: 465px;
}

.surDiapo1
{
   box-sizing: border-box;
    width: 845px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 185px;
    transition: all 0.3s;
    transform: translate3d(-237px, 0, 0) scale(0.87);
    opacity: 0;
    z-index: 2;
}
.surDiapo3
{
  
   box-sizing: border-box;
     width: 845px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 185px;
    transition: all 0.3s;
        transform: translate3d(237px, 0, 0) scale(0.87);
    opacity: 0;
    z-index: 2;
}
.diapo1
{
   box-sizing: border-box;
    width: 845px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 185px;
    transition: all 0.3s;
    transform: translate3d(-237px, 0, 0) scale(0.87);
    opacity: 1;
    z-index: 1;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    filter: brightness(.9);
}

.vide
{
   box-sizing: border-box;
    width: 845px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 185px;
    transition: all 0.3s;
    transform: translate3d(-237px, 0, 0) scale(0.87);
    opacity: 0;
    z-index: 1;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    filter: brightness(.9);
}

.diapo3
{
  
   box-sizing: border-box;
     width: 845px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 185px;
    transition: all 0.3s;
        transform: translate3d(237px, 0, 0) scale(0.87);
    opacity: 1;
    z-index: 1;
        transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    filter: brightness(.9);
}
.diapo2
{
   box-sizing: border-box;
    width: 845px;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 185px;
    transition: all 0.3s;
      transform: translate3d(0, 0, 0) scale(1);
    z-index: 2;
        transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.diapo-vide
{
    opacity: 0;
}

body {
    background-color: #652030;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: white;
    text-align: center;
}

h3{
    font-size: 16pt;
}

h4{
    padding: 30px;
}

h5{
    padding-left: 15px;
}

p{
    margin: 7px;
    padding: 15px;
}


.div_post {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #722E37;
    width: 80%;
    height: 90%;
    border-radius: 10px;
}
.divRo 
{
    visibility : hidden;
    margin-top:700px;
}
.div_post_section {
    background-color: #834141;
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0%;
    border-radius: 10px;
}
.content_post{
    width: 100%;
    height: 80%;
    overflow: scroll;
    text-align: justify;
}
.post_tag{
    text-align: center;
}
.post_reply{
    text-align: right;
}
.content_post::-webkit-scrollbar {
    display: none;
}
.div_user_section {
    background-color: #834141;
    position: absolute;
    width: 35%;
    height: 10%;
    right: 4%;
    top: 2%;
    border-radius: 10px;
}
.name_user{
    position: absolute;
    width: 20%;
    height: 100%;
    left: 5%;
    transition: 0.3s;
}

.name_user:hover{
    content: url(../images/profile.jpg);
}

.bio_user{
    position: absolute;
    left: 25%;
    width: 50%;
    height: auto;
}

.btn_follow{
    position: absolute;
    right: 5%;
    bottom:30%;
}

.div_comment_section {
    background-color: #834141;
    position: absolute;
    width: 35%;
    height: 75%;
    right: 2%;
    top: 15%;
    overflow: scroll;
    border-radius: 10px;
}

.div_comment_section::-webkit-scrollbar {
    display: none;
}
.comment {
    border: solid #5a2727 5px;
    margin: 5px;
    border-radius: 7px;
}
.title_comment{
    text-align: center;
}

.content_comment{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn_position{
    position: absolute;
    bottom : 3%;
    right: 10%;
}
.btn-primary 
{
    color: #fff;
    background-color: #5d1c1c;
    border-color: #5d1c1c;
}

.btn-primary:hover 
{
    color: #fff;
    background-color: #991010;
    border-color: #991010;
}

.btn-primary:focus, .btn-primary.focus 
{
    color: #fff;
    background-color: #991010;
    border-color: #991010;
    box-shadow: 0 0 0 0.2rem #991010;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn_tag {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.1rem 0.25rem;
    font-size: 1rem;
    line-height: 0.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn_tag:hover {
    color: #212529;
    text-decoration: none;
}

.btn_tag:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn_tag.disabled, .btn:disabled {
    opacity: 0.65;
}

.btn_tag:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn_tag-primary {
    color: #fff;
    background-color: #5d1c1c;
    border-color: #5d1c1c;
}

.btn_tag-primary:hover {
    color: #fff;
    background-color: #991010;
    border-color: #991010;
}

.btn_tag-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #991010;
    border-color: #991010;
    box-shadow: 0 0 0 0.2rem #991010;
}
.btn_tag-lg, .btn-group-lg > .btn_tag {
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.hidehide
{
    visibility: hidden;
    margin-top:1450px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #722E37;
        width: 80%;
        height: 570px;
        border-radius: 10px;
        padding: 10px;
}


