body
{
  background-color: #652030;
}
.contour
{
    background-color: #652030;
    border: 1px solid;
    border-radius: 1px;
    border-color: #c6c6c6;
    padding: 10px;
    margin-right: 140px;

}
.picture
{
    display: block;
    width: 150px;
    height:150px;
    background-color: cornsilk;
    border-radius: 100px;
    background-image: url('../images/profil.png');
    background-position: center;
    background-size: 450px;
    background-repeat: no-repeat;
    
    border: 3px solid ;
    border-color: #844b52;
}
.inside
{
    width: 1200px;
    margin-top:80px;
}
.post
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height:350px;
    background-color: #c4c4c4;
    border-radius: 20px;
    margin-top: 25px;
    margin-right: 20px;
}
.title
{
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
}
.subtitle
{
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    color : #c6c6c6;
}
.subtitle2
{
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    color : #c6c6c6;
    margin-left: 50px;
}

.overlay 
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:250px;
    opacity: 0;
    transition: .5s ease;
    background-color: #e2e2e2;
    z-index: 1;
  }
  
  .post:hover .overlay {
    opacity: 1;
  }

.bio
{
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    /* background-color: #9b5860; */
    height: auto;
    width: 800px;
    border-radius: 5px;
    color : #c4c4c4;

}







