body {
    background-color: #652030;
    font-family: "Varela Round", sans-serif;
}

.div_tags{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #722E37;
    width: 50%;
    height: 90%;
    overflow: scroll;
    border-radius: 10px;
}
.div_tags::-webkit-scrollbar {
    display: none;
}

.search_tag{
    margin: auto;
    width: fit-content;
    top : 10px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container_tags{
    margin: auto;
    position: center;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box_tag{
    width: 380px;
    height: 100px;
    background-color: #471720;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.box_tag:hover{
    background-color: #541c26;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}

.tag_display{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.tag_display p{
    font-weight: bold;
    text-align: center;
    margin: 20px;
}
.button_tags{
    text-align: center;
}

.tag_div{
    margin: auto;
    width: 1200px;
    position: center;
    align-items: center;
}

.list_tags{
    width: 200px;
    height: 400px;
    overflow: scroll;
    margin: auto;
}
.list_tags::-webkit-scrollbar {
    display: none;
}

h3{
    padding: 15px;
}

.submit_btn{
    margin: auto;
    text-align: center;
}

.selected_tags{
    text-align: center;
}
